@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  color:rgb(3, 3, 71);
}

/*  ~~~~~~~~~~~~~~~~ TOP BAR ~~~~~~~~~~~~~~~~ */

#topBarContainer {
  z-index:999;
}

#firstContainer a {
  text-decoration: none;
  background-color: rgb(23, 23, 126);
  color: rgb(247, 247, 247);
}



#topBar {
  color:rgb(230, 230, 230);
  padding:10px;
  z-index:999;
  display:flex;
  height:10%;
  justify-content: space-around;
}

#topBar h2 {
  padding-left:10px;
}

#logo{
  border-radius:50%;
  width:15%;
}

.logoDiv {
  display:flex;
}

/*  ~~~~~~~~~~~~~~~~ HERO IMAGE  ~~~~~~~~~~~~~~~~ */

#firstContainer {
  font-family: 'Lato', sans-serif;
  display:flex;
  flex-direction:column;
  height:100vh;
  background-image: url(images/manProdPhoto3.jpg);
  background-size:cover;
  background-position-y: 20%;
  background-position-x: 50%;
  
}

.overlay {
  background: linear-gradient(to right, #2d9aa8, #711e72);
  opacity: 0.7;
  position: absolute;
}

#firstOverlay {
  height:100vh;
  width:100%;
}

#firstText {
  z-index:999;
  margin-top:10%;
  display:flex;
  flex-direction:column;
  align-self:center;
}

#firstText h1 {
  color:rgb(255, 255, 255);
  font-size:3.2em;
  margin:5px;
}

#firstText h2 {
  color:rgb(206, 206, 206);
  font-size:1.8em;
  margin:5px;
}

#firstButton {
  margin-top:7%;
  align-self:center;
  font-size: 1.1em;
}

.button {
  display:flex;
  align-items:center;
  justify-content: center;
  width:200px;
  border-radius:8px;
  cursor:pointer;
  background-color: rgb(23, 23, 126);
  color:rgb(247, 247, 247);
  border:none;
}

.button h3 {
  font-size:1.6em;
  margin:5px;
}

/* ~~~~~~~~~~~~~~~~ PRODUCT INFO / BENEFITS ~~~~~~~~~~~~~~~~ */

#productContainer {
    display:flex;
    flex-direction: column;
    padding:2%;
    justify-content:center;
    /* height:100vh; */
}

.maskDiv {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#maskPic {
  width:30%;
}

#infoCards {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#infoCards{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  
  margin:0;
  padding:0;
}

.infoCardDiv {
  width:40%;
  font-size:1.0em;
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align:left;
  padding:10px;
}

.infoIcon {
  width:100px;
  height:100px;
}

/* ~~~~~~~~~~~~~~~~ INTERACTIVE MAP / SOCIAL PROOF ~~~~~~~~~~~~~~~~ */
#mapOverlay {
  background: linear-gradient(to right, #ce09ad, #ece91b);
  opacity: 0.4;
  position: absolute;
  height: 100%;
  width: 100%;
}

#mapContainer {
  display:flex;
  position:relative;
  flex-direction: column;
  color:white;
  font-size:0.8em;
}


#mapTopBar {
  width:100%;
  background-color:rgb(0, 0, 0);
  display:flex;
  flex-direction: column;
  align-items: center;
  z-index:999;
}

.credit {
  width:100%;
  display:flex;
  justify-content: flex-end;
  padding-bottom:10px;
  z-index:999;
}
.credit a{
  padding-right:10px
}

.mapButton {
  background-color:black;
  color:white;
  border-radius:8px;
  border:none;
  padding:10px;
}
  
.mapButton:hover {
  background-color:rgb(80, 80, 80);
  color:white;
  cursor:pointer;
}

.hideButton {
  padding:5px;
  text-align:center;

}

.hidden {
  display:none;
}

#mediaQueriesWorldMap {
  display:none;
}

#mediaQueriesWorldMap2 {
  display:none;
}

.mapStudy {
  background-color:white;
  color:black;
  width:20%;
  border:black 3px solid;
  border-radius:8px;
  padding:5px;
}

#study_1{
  position:absolute;
  top:34%;
  left:11%;
}

#study_1_btn {
  position:absolute;
  top:34%;
  left:11%;
}

#study_2{
  position:absolute;
  top: 45%;
  left:13%;
}  

#study_2_btn {
  position:absolute;
  top: 45%;
  left:13%;
}

#study_3{
  position:absolute;
  top:44%;
  left:45%;
} 

#study_3_btn {
  position:absolute;
  top:44%;
  left:45%;
}

#study_4{
  position:absolute;
  top:30%;
  right:22%;
}

#study_4_btn {
  position:absolute;
  top:30%;
  right:22%;
}


#study_5{
  position:absolute;
  top:48%;
  right:16%;
} 

#study_5_btn {
  position:absolute;
  top:58%;
  right:16%;
}

#study_6{
  position:absolute;
  top:62%;
  right:3%;
}

#study_6_btn {
  position:absolute;
  top:62%;
  right:3%;
}

/* ~~~~~~~~~~~~~~~~ CONTACT FORM / CALL TO ACTION ~~~~~~~~~~~~~~~~ */

#contact {
 background-image: url("images/factorypic3.jpg");
 background-size:cover;
 display:flex;
 flex-direction: column;
 height:100vh;
}

#contactOverlay {
  height:100vh;
  width:100%;
}

#contactHeader {
  padding-top:1%;
  padding-bottom:1%;
  text-align: center;
  background-color: rgb(23, 23, 126);
  color:rgb(247, 247, 247);
  z-index:999;
  display:flex;
  justify-content: center;
  padding-right:34%;
}

#contactContainer{
  z-index:999;
  display:flex;
  justify-content: center;
  flex-direction: row;
  height:100%;
}

.contactBorder {
  border: black 1px solid;
  border-radius:8px;
}

#contactBooking {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}

#contactForm{
  margin:2%;
  display:flex;
  flex-direction: column;
  width:35%;
  background-color:white;
}

#optionDiv {
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  width:20%;
}

#phoneIcon {
  width:4%;
  padding-right:5px;
}

.contactOption {
  background-color:white;
  padding:10px;
  margin:10px;
  text-align:center;
}

.formDiv {
  padding:5px;
  display:flex;
  justify-content: space-around;
}

.formDiv p {
  padding-left: 10px;
  padding-right: 10px;
}

.formField {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.formField label{
  padding-bottom:5px;
}

.formField input[type="submit"], .contactOption button {
  font-family: 'Lato', sans-serif;
  color:rgb(3, 3, 71);
  padding:5px;
  margin-bottom:3%;
  border-radius:8px;
  border: 1px black solid;
}

.formField input[type="submit"] {
  margin-bottom:10%;
}

#meetingPic {
  align-self:center;
  width:500px;
  height: 300px;
}

#meetingInput {
  display:flex;
  justify-content: center;
}

#meetingInput div {
  margin:3%;
}

#contactLogoDiv {
  display:flex;
  align-items:center;
}

#contactLogoDiv img{
  width:13%;
  margin-right:3%;
}


/* ~~~~~~~~~~~~~~~~ MEDIA QUERIES  ~~~~~~~~~~~~~~~~ */

/* Small Devices */
@media only screen 
  and (min-device-width: 20em) {

  /* Front Page */

  #firstText {
    padding-top:20%;
  }

  #firstText h1, h1 {
    font-size:1.5em;
    text-align: center;
  }

  #firstText h2, #firstText h3, #firstText h4 {
    font-size:1.1em;
  }

  #logoDiv {
    width:30%;
    display:flex;
    font-size:0.6em;
    justify-content: center;
  }

  #topBar {
    margin-top:15%;
    text-align:center;
    flex-direction:column;
    align-items:center;
  }

  /*Product Info*/

  #productContainer h1 {
    font-size:1.5em;
  }

  #productContainer p, #productContainer h3 {
    font-size:1em;
    text-align:center;
  }

  .infoCardDiv{
    font-size:0.8em;
  }

  #maskPic {
    width:50%;
  }

  .infoIcon {
    width:50px;
    height:50px;
  }

  #study_1_btn, #study_2_btn, #study_3_btn, #study_4_btn, #study_5_btn, #study_6_btn, #study_1 button, #study_2 button, #study_3 button, #study_4 button  {
    display:none;
  }

  #study_1 {
    display:flex;
    width:80%;
    top: 14%;
    left:8%;
  }

  #study_2 {
    display:flex;
    width:80%;
    top: 32%;
    left:8%;
  }

  #study_3 {
    display:flex;
    width:80%;
    top: 52%;
    left:8%;
  }

  #study_4 {
    display:flex;
    width:80%;
    top: 72%;
    left:8%;
  }

  /* Contact Form */

  #contact {
    height:100vh;
  }

  #contactOverlay {
    height:100vh;
  }

  #contactLogoDiv {
    display:none;
  }

  #contactHeader {
    padding-right:0;
    background:none;
  }

  #contactContainer {
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
  }

  #contactBooking p {
    padding-left:2%;
  }

  #contactForm {
    width:90%;
    font-size: 0.8em;
  }

  #contactForm input[type="text"], #contactForm input[type="text"], #contactForm input[type="phone"], #contactForm input[type="email"],  #contactForm input[type="url"] {
    width:80%;
  }

   #optionDiv {
    display:flex;
    width:60%;
  }

  .formField input[type="submit"] {
    margin-bottom: 10%;
    padding-right: 45%;
    padding-left: 45%;
  }

  #worldMap {
    display:none;
  }

  #mediaQueriesWorldMap {
    display:flex;
    width:95%;
    padding-right:20px;
  }
} 

@media only screen 
  and (min-device-width: 481px) {
  
    #firstText {
      padding-top:4%;
    }
  
    #firstText h1, h1 {
      font-size:2.5em;
      text-align: center;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
    }
  
    #firstText h2, #firstText h3, #firstText h4 {
      font-size:2.0em;
    }
  
    #logoDiv {
      width:30%;
      display:flex;
      font-size:0.6em;
    }

    #topBar p{
      font-size:0.8em;
    }
  
    #topBar {
      margin-top:0%;
      text-align:center;
      flex-direction:row;
      align-items:center;
    }
}