@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  color:rgb(3, 3, 71);
}

h1, h2, h3 {
  text-align: center;
}


/*  ~~~~~~~~~~~~~~~~ HERO IMAGE ~~~~~~~~~~~~~~~~ */

#topBarContainer {
  z-index:999;
}


#topBar {
  color:rgb(230, 230, 230);
  z-index:999;
  height:8%;
  margin-top:5%;
  display:flex;
  flex-direction: column;
}

#topBar h2 {
  padding-left:10px;
}

#topBar p {
  text-align:center;
  margin:0;
  font-size: 3vh;
}

#logoDiv {
  display:flex;
  flex-direction:column;
  align-items:center;
}

#logoDiv h2 {
  font-size:4vh;
  padding:0;
}

#logo{
  border-radius:50%;
  width:15vw;
}

#firstText {
  z-index:999;
  display:flex;
  flex-direction:column;
  justify-content: center;
  height:100vh;
}


#firstText h1, #firstText h2 {  
  margin: 2%;
}

#firstText h1 {
  color:rgb(255, 255, 255);
  font-size:5vh;
  
}

#firstText h2{
  color:rgb(206, 206, 206);
  font-size:4vh;
}

#firstText h3 {
  font-size:4vh;
  margin:5px;
}

#firstButton {
  margin-top:7%;
  align-self:center;
  font-size: 3vh;
}

#firstContainer {
  font-family: 'Lato', sans-serif;
  display:flex;
  flex-direction:column;
  height:100vh;
  background-image: url(images/manProdPhoto3.jpg);
  background-size:cover;
  background-position-y: 20%;
  background-position-x: 50%;
}

#firstCompanyDetails {
  display:none;
}

.overlay {
  background: linear-gradient(to right, #2d9aa8, #711e72);
  opacity: 0.7;
  position: absolute;
}

.overlay2 {
  background: linear-gradient(to right, #1f6872, #521653);
  opacity: 0.7;
  position: absolute;
}

#firstOverlay {
  height:100vh;
  width:100%;
}


button, input[type="submit"]{
  display:flex;
  align-items:center;
  justify-content: center;
  border-radius:8px;
  padding:8px;
  margin-right:2%;
  cursor:pointer;
}

.blueBtn {
  background-color: rgb(23, 23, 126);
  color:rgb(247, 247, 247);
  border:none;
}

.blueBtn a {
  color:rgb(247, 247, 247);
  text-decoration: none;
}

.blueBtn:hover {
  background-color: rgb(33, 33, 182);
  color:white;
}

.centerBtn {
    justify-content: center;
    display: flex;
    padding:10px;
}


.bigBtn {
  font-size:4vh;
}

.formDiv  {
  margin-bottom:0;
  padding:0;
}

/* ~~~~~~~~~~~~~~~~ PRODUCT INFO / BENEFITS ~~~~~~~~~~~~~~~~ */


#productContainer h1 {
  padding-top:2%;
  font-size:4vh;
  text-align:center;
  margin:0;
}

#productContainer h3 {
  font-size:1.5vh;
  text-align:center;
}

.maskDiv {
    padding-top:2%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#maskPic {
  width:30vh;
}
.infoCardDiv {
  padding-top: 2%;
  width:40%;
  font-size:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align:left;
  margin-left:1%;
  margin-right:1%;
  font-size:1.4vh;
}

.infoCardDiv h3{
  margin:1%;
}
#infoCards {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#infoCards{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin:0;
  padding:0;
}

.infoIcon {
  width:5vh;
  padding-bottom:10px;
}

/* ~~~~~~~~~~~~~~~~ INTERACTIVE MAP / SOCIAL PROOF ~~~~~~~~~~~~~~~~ */
#mapContainer {
  display:flex;
  position:relative;
  flex-direction: column;
  font-size:0.8em;
  height:100%;
}

#worldMap {
  display:flex;
  width:90vw;
  align-self:center;
}

#mapDiv {
  display:flex;
  flex-direction: column;
}

#mapOverlay {
  background: linear-gradient(to right, #ce09ad, #ece91b);
  opacity: 0.4;
  position: absolute;
  height: 100vh;
  width: 100%;
}


#mapTopBar {
  display:flex;
  flex-direction: column;
  z-index:999;

  
}
#mapTopBar h1 {
  font-size:2em;
  margin-top:2vh;
  margin-bottom:2vh;
}

#mapTopBar h3 {
  font-size:1em;
  margin:1px;
  margin-bottom: 3%;
}


.credit {
  width:100%;
  display:flex;
  justify-content: center;
  z-index:980;
}
.credit a{
  padding-right:10px;
}

.mapButton {
  position:absolute;
  font-size:1.5em;
}

.button:hover {
  cursor:pointer;
}

.hideButtonStudy {
  background:none;
  border:none;
  cursor:pointer;
  position: absolute;
  top: 0%;
  right: -2%;
  font-size:3vh;
}

.hidden {
  display:none;
}

.mapStudy {
  position: absolute;
  background-color: white;
  border-radius: 2%;
  width: 88%;
  z-index: 980;
  padding:1%;
  top: 65%;
  left:5%;
  font-size: 2.5h;
}
/* Study buttons 0 */
#study_1_btn { 
  left:11%;
  top: 24%;
}
/* Study buttons 0 */
#study_2_btn {
  left:13%;
  top: 30%;
}
/* Study buttons 0 */
#study_3_btn {
  left: 35%;
  top: 25%;
}
/* Study buttons 0 */
#study_4_btn {
  top: 20%;
  right: 22%;
}
/* Study buttons 0 */
#study_5_btn {
  top: 33%;
  right: 14%;
}
/* Study buttons 0 */
#study_6_btn {
  top: 38%;
  right: 3%;
}


#mapBox {
  background-color: rgb(29, 29, 29);
  color: white;
  height: 54vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:2.5vh;
}

#mapBox h3 {
  width:46%;
}

/* ~~~~~~~~~~~~~~~~ CONTACT FORM / CALL TO ACTION ~~~~~~~~~~~~~~~~ */

/*  */

#contact {
  display:flex; 
  background-size:cover;
  flex-direction: column;
  align-items:center;
  height:100vh;
  background-image: url("images/factorypic3.jpg");
 }

 #contact button{
   font-size:2.3vh;
 }

 #contactOverlay {
  z-index:2;
  height:100vh;
  width:100%;
}

.contactBooking {
  z-index:4;
  align-items: center; 
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 9px;
  width:45%;
}

.contactOption {
  z-index:3;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 9px;
  width: 45%;
}

#contactLogoDiv {
  display:none;
}

#contactHeader {
  z-index:3;
  text-align: center;
  color: rgb(255, 255, 255);
  display:flex;
  justify-content: center;
  width:100%;
  margin:5%;
}

.contactBorder {
  border: black 1px solid;
  border-radius:8px;
  margin:5%;
}

#phoneIcon {
  width:4vh;
  padding-right:10px;
}

.cursorBtn {
  cursor:pointer;
}

/* FORM MODAL */

.modalContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalShadow {
  position:fixed;
  opacity:0.4;
  background-color:black;
  width:100vh;
  height:100vh;
  
}

#contactForm{
  display:flex;
  flex-direction: column;
  width:90%;
  font-size: 0.8em;
  background-color:white;
  z-index:999;
}
#contactForm p {
  margin-left:5%;
  margin-right:5%;
}

#contactForm input[type="text"], #contactForm input[type="text"], #contactForm input[type="phone"], #contactForm input[type="email"],  #contactForm input[type="url"] {
  width:80%;
}


#bookTitle {
  display:flex;
  justify-content: flex-end;
  width:100%;
  margin-top:2%;
}

.hideButtonBooking {
  background:none;
  border:none;
  cursor:pointer;
  margin-left: 25%;
  margin-right: 0;
  font-size: 4vh;
  padding-top:0;
}

#bookTitle h2 {
  margin-top:1%;
}

.contactOption p {
  margin:3vh;
}

.formDiv {
  padding:5px;
  display:flex;
  justify-content: space-around;
}

.formDiv p {
  padding-left: 10px;
  padding-right: 10px;
}

.formField {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.formField label{
  padding-bottom:5px;
}

.formField input[type="submit"] {
  font-family: 'Lato', sans-serif;
}

#meetingPic {
  align-self:center;
  width:500px;
  height: 300px;
}

#meetingInput {
  display:flex;
  justify-content: center;
}

#meetingInput div {
  margin:3%;
}

#cancelBtn {
  margin:5px;
}




/* ~~~~~~~~~~~~~~~~ MEDIA QUERIES  ~~~~~~~~~~~~~~~~ */

@media (min-width:480px){

  #contact {
    justify-content:space-evenly;
  }

  #contactHeader {
    margin:0;
  }
  
  .contactBorder {
    margin:0;
  }
  
  #topBar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:2%;
    margin-top:0;
  }
  
  #logoDiv {
    flex-direction: row;
    font-size:2.7vh;
  }

  #logo {
    width: 7vw;
    margin-right: 5%;
  }
  
  #firstCompanyDetails {
    display: flex;
  }

  #topBar p {
    margin: 0;
    font-size: 2.7vh;
  }

  /* Product Info */
  #maskPic {
    width:40vh;
  }

  
  .infoIcon {
    width: 8vh;
  }
  #productContainer {
    height:auto;
    
  }

  #productContainer h1{
    padding-top: 2%;
    font-size: 4.8vh;
  }

  #productContainer h3 {
    font-size: 3vh;
  }

/* Map  */

  .infoCardDiv p {
    font-size: 2.7vh;
  }
  #mapBox {
    display:none;
  }
  #mapContainer {
    height: 100vh;
  }


  
  .mapStudy {
    border-radius:8px;
    border: black 1px solid;
    height:fit-content;
    width: 60%;
    padding: 2%;
    font-size: 2.6vh;
    cursor:pointer;
    
  }

  .mapStudy table{
    padding-top:0;
  }

  #contactForm p {
    margin-left:5%;
    margin-right:5%;
  }

  
  #contactForm {
    font-size:1em;
    width:fit-content;
    padding:10px;
  }
 
  #meetingInput div {
    margin: 1%;
  }
  .modalShadow{
    width: 120%;
  }
  .contactBooking {
    width: 30%;
  }
  .contactOption {
    width: 30%;
    margin: 2vh;
  }
  .contactOption p {
    margin: 3vh;
  }

  /* Study buttons 480 */
  #study_1{
    top:34%;
    left:11%;
    font-size: 3vh;
  }

  /* Study buttons 480 */
   #study_1_btn { 
    top:34%;
    left:11%;
  }
  
  /* Study buttons 480 */
  #study_2{
    top: 40%;
    left:13%;
  }  

  /* Study buttons 480 */
  #study_2_btn {
    top: 50%;
    left:13%;
  }
  
  /* Study buttons 480 */
  #study_3{
    top:44%;
    left:25%;
  } 
  
  /* Study buttons 480 */
  #study_3_btn {
    top:44%;
    left:45%;
  }
  
  /* Study buttons 480 */
  #study_4{
    top: 19%;
    left: 27%;
  }
  
  /* Study buttons 480 */
  #study_4_btn {
    top: 19%;
    right: 32%;
  }
  
  /* Study buttons 480 */
  #study_5{
    top: 58%;
    left: 21%;
  } 
  
    /* Study buttons 480 */
  #study_5_btn {
    right: 20%;
    top: 58%;
  }
  
  /* Study buttons 480 */
  #study_6{
    top:61%;
    left:34%;

  }

  /* Study buttons 480 */
  #study_6_btn {
    right: 10%;
    top:61%;
  } 

  @media (min-width:670px){
    .contactBooking {
      width:20%;
    }
    
    .hideButtonBooking {
      margin-left:30%;
    }
    #bookTitle {
      margin-top:0%;
    }

    #book {
      margin-top:2vh;
    }
    .contactBooking {
      width: 20%;
    }
    .contactOption {
      width: 30%;
      margin: 2vh;
    }
    .contactOption p {
      margin: 3vh;
    }
    #worldMap {
      display:flex;
      width:55vw;
      align-self:center;
    }
    #logo {
      width: 4vw;
      margin-right: 5%;
    }

    .infoIcon {
      width:5vh;
      padding-bottom:5px;
    }

    .mapStudy {
    width: auto;
    padding:1%;
   
    }

    #study_1,  #study_2,  #study_3,  #study_4,  #study_5,  #study_6 {
      font-size:1.5em;
    }

    #study_1_btn {
      left: 28%;
    }

    #study_2_btn {
      top: 48%;
      left: 29%;
    }
    
    #study_5 {
      left: 40%;
    }

    #study_5_btn {
      right: 30%;
    }
    #study_6 {
      right: 23%;
      top: 50%;
    }

    #study_6_btn {
      right: 23%;
    }

    .contactOption {
      width: 20%;
    }
  } 
}
