@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  color:rgb(3, 3, 71);
}

h1, h2, h3 {
  text-align: center;
}

/*  ~~~~~~~~~~~~~~~~ HERO IMAGE ~~~~~~~~~~~~~~~~ */

#topBarContainer {
  z-index:999;
}

#firstContainer a {
  text-decoration: none;
  background-color: rgb(23, 23, 126);
  color: rgb(247, 247, 247);
}

#topBar {
  color:rgb(230, 230, 230);
  z-index:999;
  height:8%;
  margin-top:5%;
  display:flex;
  flex-direction: column;
}

#topBar h2 {
  padding-left:10px;
}

#topBar p {
  text-align:center;
  margin:0;
  font-size: 3vh;
}

#logoDiv {
  display:flex;
  flex-direction:column;
  align-items:center;
}

#logoDiv h2 {
  font-size:4vh;
  padding:0;
}

#logo{
  border-radius:50%;
  width:15vw;
}

#maskPic {
  width:50%;
}

#firstText {
  z-index:999;
  display:flex;
  flex-direction:column;
  justify-content: center;
  height:100vh;
}


#firstText h1, #firstText h2 {  
  margin: 2%;
}

#firstText h1 {
  color:rgb(255, 255, 255);
  font-size:5vh;
  
}

#firstText h2{
  color:rgb(206, 206, 206);
  font-size:4vh;
}

#firstText h3 {
  font-size:4vh;
  margin:5px;
}

#firstButton {
  margin-top:7%;
  align-self:center;
  font-size: 3vh;
}
#firstContainer {
  font-family: 'Lato', sans-serif;
  display:flex;
  flex-direction:column;
  height:100vh;
  width:100vw;
  background-image: url(images/manProdPhoto3.jpg);
  background-size:cover;
  background-position-y: 20%;
  background-position-x: 50%;
  
}

.overlay {
  background: linear-gradient(to right, #2d9aa8, #711e72);
  opacity: 0.7;
  position: absolute;
}

#firstOverlay {
  height:100vh;
  width:100%;
}


.button {
  display:flex;
  align-items:center;
  justify-content: center;
  width:200px;
  border-radius:8px;
  cursor:pointer;
  background-color: rgb(23, 23, 126);
  color:rgb(247, 247, 247);
  border:none;
}

/* ~~~~~~~~~~~~~~~~ PRODUCT INFO / BENEFITS ~~~~~~~~~~~~~~~~ */

#productContainer {
    height:100vh;
    width:100vw;
}

#productContainer h1 {
  padding-top:5%;
  font-size:4vh;
  text-align:center;
  margin:0;
}

#productContainer h3 {
  font-size:2.5vh;
  text-align:center;
}

.maskDiv {
    padding-top:5%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#maskPic {
  width:30vh;
}
.infoCardDiv {
  padding-top: 5%;
  width:40%;
  font-size:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align:left;
  margin-left:1%;
  margin-right:1%;
  font-size:1.8vh;
}

.infoCardDiv h3{
  margin:1%;
}
#infoCards {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#infoCards{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin:0;
  padding:0;
}

.infoIcon {
  width:5vh;
  padding-bottom:10px;
}

/* ~~~~~~~~~~~~~~~~ INTERACTIVE MAP / SOCIAL PROOF ~~~~~~~~~~~~~~~~ */
#mapContainer {
  display:flex;
  position:relative;
  flex-direction: column;
  font-size:0.8em;
}

#worldMap {
  display:flex;
  width:90vw;
  align-self:center;
}

#mapOverlay {
  background: linear-gradient(to right, #ce09ad, #ece91b);
  opacity: 0.4;
  position: absolute;
  height: 100%;
  width: 100%;
}


#mapTopBar {
  display:flex;
  flex-direction: column;
  z-index:999;
  background-color:rgb(29, 29, 29);
  color:white;
}
#mapTopBar h1 {
  font-size:1.5em;
  margin-top:2%;
  margin-bottom:2px;
}

#mapTopBar h3 {
  font-size:1em;
  margin:1px;
  margin-bottom: 3%;
}

.credit {
  width:100%;
  display:flex;
  justify-content: center;
  padding-bottom:10px;
  z-index:999;
}
.credit a{
  padding-right:10px;
}

.mapButton {
  background-color:black;
  color:white;
  border-radius:8px;
  border:none;
  padding:10px;
}
  
.mapButton:hover {
  background-color:rgb(80, 80, 80);
  color:white;
  cursor:pointer;
}

.hideButton {
  padding:5px;
  text-align:center;

}

.hidden {
  display:none;
}



.mapStudy {
  background-color:white;
  color:black;
  font-size: 0.8em;
  width:60%;
  border:black 3px solid;
  border-radius:8px;
  padding:5px;
}

#study_1{
  position:absolute;
  top:34%;
  left:11%;
}

#study_1_btn {
  position:absolute;
  top:34%;
  left:11%;
}

#study_2{
  position:absolute;
  top: 35%;
  left:13%;
}  

#study_2_btn {
  position:absolute;
  top: 50%;
  left:13%;
}

#study_3{
  position:absolute;
  top:20%;
  left:30%;
} 

#study_3_btn {
  position:absolute;
  top:44%;
  left:45%;
}

#study_4{
  position:absolute;
  top:26%;
  right:18%;
}

#study_4_btn {
  position:absolute;
  top:30%;
  right:22%;
}


#study_5{
  position:absolute;
  top:30%;
  right:20%;
} 

#study_5_btn {
  position:absolute;
  top:58%;
  right:20%;
}

#study_6{
  position:absolute;
  top:30%;
  right:3%;
}

#study_6_btn {
  position:absolute;
  top:62%;
  right:3%;
}


/* ~~~~~~~~~~~~~~~~ CONTACT FORM / CALL TO ACTION ~~~~~~~~~~~~~~~~ */

#contact {
  display:flex;
  background-image: url("images/factorypic3.jpg");
  background-size:cover;
  flex-direction: column;
  
  height:100vh;
 }

 #contactOverlay {
  height:100%;
  width:100%;
}
 #contactContainer {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
  z-index:999;
  padding-bottom:10%;
 }

.contactOption {
  background-color:white;
  padding:10px;
  text-align:center;
  margin:5%;
  width:60%;
}

#contactLogoDiv {
  display:none;
}

#contactHeader {
  text-align: center;
  background-color: rgb(23, 23, 126);
  color:rgb(247, 247, 247);
  z-index:999;
  display:flex;
  justify-content: center;
}




.contactBorder {
  border: black 1px solid;
  border-radius:8px;
}

#phoneIcon {
  height:15px;
  width:15px;
  padding-right:5px;
}

/* FORM MODAL */

#contactForm{
  margin:2%;
  display:flex;
  flex-direction: column;
  width:90%;
  font-size: 0.8em;
  background-color:white;
}

#contactForm input[type="text"], #contactForm input[type="text"], #contactForm input[type="phone"], #contactForm input[type="email"],  #contactForm input[type="url"] {
  width:80%;
}

#contactBooking {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
}
#contactBooking p {
  padding-left:2%;
}

.formDiv {
  padding:5px;
  display:flex;
  justify-content: space-around;
}

.formDiv p {
  padding-left: 10px;
  padding-right: 10px;
}

.formField {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.formField label{
  padding-bottom:5px;
}

.formField input[type="submit"], .contactOption button {
  font-family: 'Lato', sans-serif;
  color:rgb(3, 3, 71);
  padding:5px;
  margin-bottom:3%;
  border-radius:8px;
  border: 1px black solid;
}

.formField input[type="submit"] {
  margin-bottom:10%;
}

#meetingPic {
  align-self:center;
  width:500px;
  height: 300px;
}

#meetingInput {
  display:flex;
  justify-content: center;
}

#meetingInput div {
  margin:3%;
}


/* ~~~~~~~~~~~~~~~~ MEDIA QUERIES  ~~~~~~~~~~~~~~~~ */



/* Map positions 
#contactLogoDiv {
  display:flex;
  align-items:center;
}

#contactLogoDiv img{
  width:13%;
  margin-right:3%;
}



*/